* {
    margin: 0;
    padding: 0;
    /*  */
    font: 500 17px/20px sans-serif;
    font-style: normal;
    font-variant-caps: normal;
    font-weight: 500;
    font-stretch: normal;
    font-size: 17px;
    line-height: 20px;
    font-family: sans-serif;
    font-size-adjust: none;
    font-kerning: auto;
    font-optical-sizing: auto;
    font-variant-alternates: normal;
    font-variant-east-asian: normal;
    font-variant-emoji: normal;
    font-variant-ligatures: normal;
    font-variant-numeric: normal;
    font-variant-position: normal;
    font-language-override: normal;
    font-feature-settings: normal;
    font-variation-settings: normal;
}

body {
    margin: 0;
}
.sidebar {
    background-color: #FFFFFF;
    border-right: 1px gray;
    box-sizing: border-box;
    color: gray;
    height: 100vh;
    width: 256px;
    overflow-y: auto;
    padding: 0 16px;
    scrollbar-width: none;
    user-select: none;
    margin: 0;
    border-right: 1px solid black;
}

.logo {
    color: #001489;
    width: 100%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-content {
    height: 100vh;
}

.option {
    margin: 10px 0 auto 0;
    padding: 2px;
    background-color: white;
    color: #6741d9; 
    border: 2px solid;
    border-radius: 12px;
    font-size: bold;
    width: 95%;
    height: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-1 {
    grid-gap: 48px;
    display: flex;
}

.container {
    height: 100vh;
}